/* Form Boundaries */


.form {
    width: 80%;
    position: absolute !important;
    top: 100px;
    left: 9%;

}

/* Card Wrapper */

#categories-card-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    place-items: center;
    justify-content: center;
    overflow: hidden;
    gap: 30px;
    padding: 50px;
}

#sectionBrowser {
    padding: 70px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    place-items: center !important;
}


.sectionBrowserTitle {
    font-size: 43px !important;
    font-weight: bold !important;
    text-align: center !important;
    color: #004687 !important;
}


.cardItem {
    position: relative;
    min-width: 300px;
    max-width: 300px;
    height: 280px;
    max-height: 280px;
    box-shadow: 0px 13px 25px #0000002B !important;
    background: #ffffff !important;
    display: flex !important;
    flex-direction: column !important;
    place-items: center !important;
    box-sizing: border-box !important;
    cursor: pointer;
    overflow: hidden;

}

.cardItem:hover .TitleAndDescWrapper {
    top: 10%;
}




.cardItem .titleImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imageWrapper {
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
    width: 100%;
    height: 75%;
    z-index: 1;
}

.imageWrapper img {
    position: absolute;
    top: 0;
    left: 0
}


.TitleAndDescWrapper::before {
    display: block;
    content: "";
    position: absolute;
    top: -30%;
    left: 0;
    width: 100%;
    height: 30%;
    /* Adjust the height of the blurred area as needed */
    background: linear-gradient(to bottom, transparent, rgb(0 102 204 / 44%));
    backdrop-filter: blur(1.5px);
    /* Adjust the blur amount as needed */
    z-index: 1;

}

.TitleAndDescWrapper {
    position: absolute;
    top: 75%;
    width: 100% !important;
    color: var(--secondarylight-bg-color) !important;
    font-size: 24px !important;
    font-weight: bold !important;
    height: 253px;
    transition: top 0.6s ease;
    background: white;
    z-index: 2;
}

.cardTitle {
    position: absolute;
    top: 15px;
    width: 100%;
    font-size: 24px !important;
    text-align: center;
    font-weight: bold !important;
    color: var(--secondarylight-bg-color) !important;


}

.serviceDescription {
    position: absolute !important;
    top: 75px !important;
    word-break: break-word;
    white-space: normal;
    padding: 0px 20px !important;
    text-align: center;
    font-size: 14px !important;
    height: 60%;
    overflow: hidden;
    text-overflow: ellipsis !important;



}

/* ----------------- MODAL STYLING ------------------- */


.infoIconContainer {
    display: flex;
    height: 3ex;
    width: 100%;
    justify-content: flex-end;
}

.infoIcon {
    width: 3ex;
    height: 3ex;
}



/* Search Textbox Styling - To be reviewed */

input[name="Text Box"] {
    width: 13ex !important;
}

span:has(input[name="Text Box"]) {
    width: 90ex;
}

input[name="Text Box"] {
    width: 55ex !important;
    margin: 0ex 1ex !important;
    font-size: 12pt !important;
    padding: 5px !important;
    border-color: #c2c2c2 !important;
}


@media (max-width: 767px) {
    .form {
        width: 100%;
        left: 0;
        top: 0;
    }

    .taskDD {
        display: none;
    }

    [name="Navbar"] {
        display: none;
    }
}
