/* Form Boundaries */


.form {
    background-color: #EBF3FD !important;
    width: 80% ;
    position: absolute !important;
    top : 100px ;
    left : 9% ;
   
}

/* Card Wrapper */

#categories-card-wrapper{
    width: 100% ;
    display: flex;
    flex-wrap : wrap ;
    place-items: center ;
    justify-content : center ;
    overflow : hidden ;
    gap: 30px ;
    padding: 50px ;
}

#sectionBrowser {
    padding: 70px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    place-items: center !important;
}

.overlay {
    position : absolute;
    bottom : 0;
    height : 0;
    width : 100%;
    overflow : hidden ;
    border-radius : inherit;
    transition : height 0.5s ease;
    background: rgba(255, 255, 255, 0.72);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.5px);
    transition : height 0.6s ease ;
}


.overlay p {
    height : 90%;
    width : 100% ;
    word-break: break-word;
    white-space: normal;
    padding : 20px 10px ;
    box-sizing : border-box ;
    font-size : 14px ;
    display : flex ;
    text-align : center ;
    align-items : center
}

.sectionBrowserTitle {
    font-size: 40px !important;
    font-weight: bold !important;
    text-align: center !important;
    color: #004687 !important;
}


.cardItem {
    position : relative ;
    min-width : 300px ;
    max-width : 300px ;
    height : 270px ;
    max-height : 270px ;
    box-shadow: 0px 13px 25px #0000002B !important;
    background: #ffffff !important;
    display: flex !important;
    flex-direction: column !important;
    place-items: center !important;
    box-sizing: border-box !important;
    cursor: pointer;
  
}


/*.cardItem:hover .cardTitle  {
  visibility : hidden ;
}
*/

.cardItem:hover .cardTitle {
 top : 20% ;
}


.cardItem .titleImage {
    width : 100% ;
    height : 100% ;
    object-fit: cover;
}

.imageWrapper {
position: relative;
  width: 300px; /* Set the desired width of the container */
  height: 200px; /* Set the desired height of the container */
  overflow: hidden; /* Hide any overflow */
  width : 100% ;
   height : 75%;
}


.imageWrapper::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%; /* Adjust the height of the blurred area as needed */
  background: linear-gradient(to bottom, transparent, rgb(0 102 204 / 44%));
  backdrop-filter: blur(1.5px); /* Adjust the blur amount as needed */ 
  z-index: 1;
}

.cardTitle {
    position : absolute ;
    top : 75% ;
    border : 2px solid ;
    width: 100% !important;
    color: var(--secondarylight-bg-color) !important;
    font-size: 24px !important;
    font-weight: bold !important;
    height : 270px ;
    transition : top 0.6s ease ;
}



/* ----------------- MODAL STYLING ------------------- */


.infoIconContainer {
    display: flex;
    height: 3ex;
    width: 100%;
    justify-content: flex-end;
}

.infoIcon {
    width: 3ex;
    height: 3ex;
}



/* Search Textbox Styling - To be reviewed */

input[name="Text Box"] {

    width: 13ex !important;

}

span:has(input[name="Text Box"]) {
    width: 90ex;
}

input[name="Text Box"] {
    width: 55ex !important;
    margin: 0ex 1ex !important;
    font-size: 12pt !important;
    padding: 5px !important;
    border-color: #c2c2c2 !important;
}


@media (max-width: 767px) {
    .form {
        width: 100%;
        left: 0;
        top : 0 ;
    }

    .taskDD {
        display : none ;
    }

    [name="Navbar"] {
        display : none ;
    }
}



