@font-face {
    font-family: 'SWCC-Medium';
    src: url('https://cdn.jsdelivr.net/gh/julianogharzeddine/CustomFiles@main/SWCC-3-Medium.otf') format('opentype');
    /* Adjust the path and font format */
}

* {
    font-family: 'SWCC-Medium' !important;
}

:root {
    --bg-color: #e5e6f6;
    /* Main Background Color */
    --secondarylight-bg-color: #0066cc;
    /* Secondary Background Color - Used for sidebar , completed request , worklist headers (and button) */
    --secondarydark-bg-color: #0066cc;
    /* Secondary Dark Background Color - Used for translator header , buttons */
    --sidebar-boxshadow: 0px 0px 20px var(--secondarylight-bg-color);
    --white: #ffffff;
    --standard-border-radius: 2.5ex;
    --carditem-shadow: 0px 0px 20px #70d96640;
    --section-title-size: 40px;
    --option-cards-shadow: 0px 13px 25px #0000002B;
    --worklist-shadow: 0px 0px 15px #7cb66d40;
    --card-title-font-size: 23px;
    --worklist-row-even-color: #eeeeee;
    --searchtextbox-border-color: #c2c2c2;
    --card-title-color: #0066cc;
}

/* FORM BOUNDARIES STYLING */

body {
    background: var(--bg-color) !important;
}

.form {
    background-color: var(--bg-color) !important;
}

.runtime-form {
    position: absolute !important;
    top: 100px;
    left: 5%;
    width: 70% !important;
}


/* SECTION BROWSER STYLING */


.sectionBrowser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    padding: 20px !important;
    background: var(--bg-color);
}

.sectionBrowserTitle {
    font-size: var(--section-title-size) !important;
    font-weight: bold !important;
    text-align: center;
}


/* SIDE BAR STYLING */

div[name="Sidebar"] {
    position: fixed !important;
    right: 0;
    top: 194px;
    height: 100vh;
    width: 330px !important;
    background-color: var(--secondarylight-bg-color) !important;
    box-shadow: var(--sidebar-boxshadow);
    z-index: 1 !important;
}


[name="Sidebar"] span {
    background: var(--secondarylight-bg-color) !important;
}
  
.categoryItem img {
    height :35px;
    width : 35px;
}

.categoryItem {
    display : flex ;
    place-items : center ;
    gap : 20px ;
}

.categoryName {
    color : white !important ;
    font-size : 16px !important;
}


#SidebarCategoryWrapper {
    display : flex ;
    flex-direction : column ;
    gap : 20px ;
    background : green ;
    width : 95% ;
}


/* HEADER  STYLING */

div[name="Navbar"] {
    position: fixed !important;
    top: 48px;
    width: 100%;
    right: 0;
    z-index: 1 !important;
    overflow: visible;
}

[name="UserName"] {
    color: var(--card-title-color) !important;
}

/* TRANSLATOR STYLING */

[name="TranslatorHeader"] {
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 2 !important;
}

.dd-container {
    margin-right: 100px;
    margin-left: 100px;
}

[name="TranslatorHeader"] span {
    background: var(--secondarydark-bg-color) !important;
}

.dd-container span {
    background: none !important;
}


/* INVESTIGATIONS CUSTOM CARDS STYLING */


#InvestigationCards .cardItem {
    padding: 20px !important;
    height: 237px !important;
    border-radius: 2.5ex !important;
    box-shadow: 0px 13px 25px #0000002B !important;
    background: #ffffff !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    place-items: center !important;
    padding-bottom: 25px !important;
    box-sizing: border-box !important;
}

#InvestigationCards {
    width: 90% !important;
    display: grid !important;
    grid-template-columns: repeat(auto-fit, 34ex);
    place-items: center !important;
    grid-row-gap: 30px !important;
    overflow-y: auto !important;
    direction: rtl;
    padding: 30px;
    justify-content: center;
}

.cardItem {
    position: relative;
    height: 200px;
    width: 90%;
    padding: 6px;
    border-radius: var(--standard-border-radius);
    box-shadow: var(--carditem-shadow) !important;
    background: var(--white);
}

.cardHeader {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-bottom: 0.2px solid #d5d6d4;
    padding: 10px;
}

.card-rows {
    display: flex;
    flex-direction: row;
}

.investNo a {
    color: var(--secondarylight-bg-color);
    font-weight: bold;
    font-size: 16px !important;
}

.date {
    color: var(--secondarylight-bg-color);
    font-weight: bold;
    font-size: 16px !important;
}

.cardItem p {
    width: 100%;
    text-align: center !important;
    text-wrap: balance;
    height: 4.9ex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.labelVal {
    color: var(--secondarydark-bg-color) !important;
    font-size: 15px !important;
    font-weight: bold !important;
}

.status {
    height: 20px;
    width: 20px;
    border-radius: 100%;
}

/* Requests Cards */

#card-wrapper {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    grid-row-gap: 20px;
    max-height: 600px;
    padding: 20px;
    overflow-y: scroll;
}

.cardBody {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
}

.investNoStatusWrap {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

.labelTitle {
    font-size: 18px !important;
    font-weight: bold;
    color: gray !important;
}


.dateWrapper {
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
    place-items: center;
}


/* HIDING THE REQUESTS LISTVIEW */

div[name="RequestsInventory"] .grid-body {
    height: 0px;
}

/* REQUEST COUNTER STYLING */

.Complete {
    background: var(--secondarylight-bg-color);
}

.Active {
    background: var(--secondarydark-bg-color);
}

.New {
    background: var(--secondarydark-bg-color);
}

.totalcounter {
    color: var(--white) !important;
    font-size: 2ex !important;
}

#reqCounter {
    width: 100%;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    gap: 40px !important;
    height: fit-content !important;
    padding: 20px 5% 20px 60px !important;
    box-sizing: border-box !important;
}

.counterCircle {
    display: flex !important;
    justify-content: center !important;
    place-items: center !important;
    height: 40px !important;
    width: 40px !important;
    padding: 3px !important;
    border-radius: 100% !important;
    box-sizing: border-box !important;
    font-weight: bold !important;
    font-size: 35px !important;
    color: var(--white) !important;
}

.counterCard {
    display: flex !important;
    place-items: center !important;
    justify-content: space-around;
    padding-right: 10px !important;
    padding-left: 10px !important;
    box-sizing: border-box !important;
    border-radius: 10px !important;
    width: 251px !important;
    height: 105px !important;
    cursor: pointer;
    flex-direction: column !important;
    padding: 2ex;
}

.counterLabel {
    color: var(--white) !important;
    font-size: 18px !important;
}



/* OPTIONS STYLING , NOTE THAT legalservices-card-wrapper should be changed from JS */


#legalservices-card-wrapper {
    width: 100% !important;
    display: grid !important;
    grid-template-columns: repeat(4, 1fr) !important;
    place-items: center !important;
    grid-row-gap: 30px !important;
    overflow-y: auto !important;
    direction: rtl;
    padding: 30px;
}


#legalservices-card-wrapper .cardItem {
    display: flex !important;
    flex-direction: column !important;
    place-items: center !important;
    box-sizing: border-box !important;
    padding: 15px !important;
    height: 237px !important;
    border-radius: var(--standard-border-radius) !important;
    box-shadow: var(--option-cards-shadow) !important;
    background: var(--white) !important;
    cursor: pointer;
    max-width: 260px !important;
}

.cardItem .titleImage {
    width: 96.6% !important;
    height: 108px !important;
    border-radius: 25px !important;
    max-width: 350px !important;
    cursor: pointer;
}

.cardTitle {
    width: 95% !important;
    text-align: center !important;
    letter-spacing: 0px !important;
    font-size: var(--card-title-font-size) !important;
    font-weight: bold !important;
    margin-top: 15px !important;
}



/* WORKLIST STYLING */


div[name*="Worklist Card WT"] table.nav {
    margin-bottom: var(--standard-border-radius);
    box-shadow: var(--worklist-shadow);
    background: var(--white) !important
}

div[name*="Worklist Card WT"] * {
    overflow: hidden !important;
}

div[name*="Worklist Card WT"] .SourceCodeFormsControlsWorklist {
    background: var(--bg-color) !important;
}

div[name*="Worklist Card WT"] .worklist-grid-column-header,
div[name*="Worklist Card WT"] .worklist-grid-column-header-cell-text,
div[name*="Worklist Card WT"] .worklist-empty-grid-header {
    background-color: var(--white) !important;
}

div[name*="Worklist Card WT"] .WorkListGridHeader {
    background-color: var(--white) !important;
}

div[name*="Worklist Card WT"] .WorklistItemSectionCell {
    box-shadow: var(--worklist-shadow) !important;
    border-radius: 0ex 0ex var(--standard-border-radius) var(--standard-border-radius) !important;
}

div[name*="Worklist Card WT"] .worklist-grid-column-header-cell-text {
    font-size: 2ex !important;
    box-sizing: border-box !important;
    font-weight: bold !important;
    text-align: left !important;
}

div[name*="Worklist Card WT"] .WorklistItemGridRow:nth-child(even) {
    background: var(--worklist-row-even-color) !important;
}

div[name*="Worklist Card WT"] .WorklistItemGridRow:nth-child(odd) {
    background: var(--white) !important;
}

div[name*="Worklist Card WT"] .WorkListGridHeader th span {
    font-size: 2.1ex !important;
    font-weight: bold !important;
    color: var(--secondarylight-bg-color) !important;

}

div[name*="Worklist Card WT"] .worklistToolbarHeaderTextWrapper span {
    font-size: 3.4ex !important;
    font-weight: bold !important;
    color: var(--card-title-color) !important;
}

div[name*="Worklist Card WT"] td.worklistToolbarHeaderTextWrapper {
    padding: 1.2ex !important;
}

div[name*="Worklist Card WT"] .SourceCodeFormsControlsWorklist {
    padding: 1.7ex;
    box-sizing: border-box !important;
    border: none !important;
}

div[name*="Worklist Card WT"] table.nav {
    border-radius: var(--standard-border-radius) var(--standard-border-radius) 0ex 0ex !important;
}

div[name*="Worklist Card WT"] .WorkListGridTableBody {
    border-radius: 0ex 0ex var(--standard-border-radius) var(--standard-border-radius);
}

div[name*="Worklist Card WT"] span.text-underline {
    font-size: 1.8ex !important;
}


.LoadMoreHyperlink {
    background: var(--secondarylight-bg-color) !important;
    color: var(--white) !important;
    border-radius: var(--standard-border-radius) !important;

}

.LoadMoreHyperlink:hover {
    background: var(--white) !important;
    color: var(--secondarylight-bg-color) !important;
    border: 1px solid !important;
}



/* SCROLLBAR STYLING */


::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}


::-webkit-scrollbar-track {
    background-color: var(---bg-color);
}


::-webkit-scrollbar-thumb {
    background-color: var(--secondarydark-bg-color);
    border-radius: 5px;
}



/* MISC */

a[name*="NoBorder"] {
    border: none !important;
    background-color: var(--secondarylight-bg-color) !important;
}


.toolbar-wrapper {
    height: 0px !important;
    display: none !important;
    background: var(--bg-color) !important;
}

.single {
    background: var(--bg-color) !important;
}


[name*='View'] {
    background: var(--bg-color) !important;
}

[name*='hiddenButton'] {
    visibility: hidden !important;
}



/* Task Dropdown Styling */


.taskDD {
    position: fixed !important;
    width: 480px;
    top: 90px;
    left: 25%;
    z-index: 100 !important;

}

#dropdownContent {
    display: none;
    border: 1px solid lightgray;
    background: var(--white);
    border-radius: var(--standard-border-radius);
     height : 550px;
    overflow : scroll ;
}


.date-icon {
    margin-right: 15px;
    font-size: 0.8em;
    align-self: center;
    width: 45px;
    padding: 6px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 15px;
    background-color: var(--secondarylight-bg-color) !important;
}

.task-details h4 {
    margin: 0;
    margin-bottom: 5px;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    max-width : 320px;
    text-overflow: ellipsis;
}

.task-details p {
    margin: 0;
    color: #888;
    font-size: 14px;
    text-align: right;
}

.taskDD a:hover {
    background-color: #f1f1f1
}


.taskDD a {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 15px;
    gap: 30px;
    border-bottom: 1px solid #f1f1f1;
    padding: 15px;
}

#notificationCounter {
    position: relative;
}

#redCircle {
    position: absolute;
    top: -10px;
    left: 15px;
    background-color: red;
    color: var(--white);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding : 1px; 
    font-size: 12px;
    padding : 1px;
    text-align: center;
    line-height: 20px;
}

#bellicon {
    cursor: pointer !important;
}


/* Named Text Box For The Search */

input[name="Text Box"] {
    width: 13ex !important;
}

span:has(input[name="Text Box"]) {
    width: 80ex;
}

input[name="Text Box"] {
    width: 45ex !important;
    margin: 0ex 1ex !important;
    font-size: 12pt !important;
    padding: 5px !important;
    border-color: var(--searchtextbox-border-color) !important;
}

.OverdueImageDiv {
    background: black !important;
    border-radius: 100%;
}


