:root {

    /* --- Gaps --- */
    --standard-section-gap: 15px;

    /* --- Borders --- */
    --input-focus-shadow: 0 0 2.5px rgba(0, 102, 204, 0.7);


    /* --- Font Size And Color ---*/
    --not-selected-option-font-color: #8d97a1;

    /* --- Widths and Heights --- */
    --searchkeyword-height: 35px;
    --searchkeyword-width: 300px;
    --sortdateicon-height-width: 30px;
    --inner-wrapper-width: 40%;
    --underline-height: 4px;
    --svg-icon-height-width: 22px;
    --task-status-option-height: 40px;
}


#WorklistContainer {
    border-radius: var(--root-curved-border-radius);
    background: white;
    padding: var(--padding-xl);
}

#WorklistContainer>* {
    background: white;
}


/* Wraps the filtration toolbar */
#WorklistFilterToolbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: var(--gap-5xh);
    border: var(--root-thick-light-border);
    border-radius: var(--root-radius-m);
    padding: var(--padding-xl)
}

/* The toolbar section represents the search section and the date filter section */
.toolbarSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-xl);
    padding: var(--padding-ml);
}

/* Any title in the section will have the same style */
.filterTitle {
    font-size: var(--text-2xl) !important;
    font-weight: bold !important;
}

/* Search Section Styling */
#worklistSearchKeyword {
    outline: none;
    border-radius: var(--root-radius-sm);
    height: var(--searchkeyword-height);
    width: var(--searchkeyword-width);
    padding: 0 10px;
    border: var(--root-thick-light-border);
}

#worklistSearchKeyword:focus {
    border: var(--root-input-focus-border);
    box-shadow: var(--input-focus-shadow);
}

/* Date Filter Section styling */
.taskDateSort {
    height: var(--sortdateicon-height-width);
    cursor: pointer;
}

/* ------------------------------- TASK STATUS OPTIONS STYLING ---------------------------- */

/* This styles the outer wrapper of the section */
#taskStatusOptionsOuterWrapper {
    position: relative;
    border: var(--root-thick-light-border);
    border-radius: var(--root-radius-sm);
}


/* The inner wrapper groups all options as a row */
#taskStatusOptionsInnerWrapper {
    display: flex;
    flex-direction: row;
    gap: var(--gap-xl);
    width: var(--inner-wrapper-width);
}


/* Each individual option */
.taskStatusOption {
    display: flex;
    flex-direction: column;
    height: var(--task-status-option-height);
    justify-content: space-between;
    align-items: center;
    flex: 1;
    cursor: pointer;
}

/* The option text */
.optionTitle {
    padding: 0 !important;
    margin: 0 !important;
    text-align: center;
    font-size: var(--text-2xl) !important;
    color: var(--not-selected-option-font-color);
}

/* Changing colors and filling SVGs when a certain option is selected */
.selectedOption .optionTitle {
    color: var(--root-primarylight-color);
    font-weight: bold;
}

.selectedOption svg,
.selectedOption svg * {
    fill: var(--root-primarylight-color);
    stroke: var(--root-primarylight-color);
}

/* When clicking on an option , expand the .underline div's width to simulate a border-bottom */
.underline {
    width: 0;
    height: var(--underline-height);
    background-color: var(--root-primarylight-color);
    border-radius: 15px !important;
    transition: width 0.4s ease;
    align-self: baseline;
}

.taskStatusOption[data-option-task="All"]>.underline {
    width: 100%;
}

/* This wraps the option's paragraph text and corresponding svg */
.wrapIcon {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    gap: var(--gap-m);
    );
}

.wrapIcon svg {
    height: var(--svg-icon-height-width);
    width: var(--svg-icon-height-width);
}


/* --------------- WORKLIST ITEMS STYLING -------------- */

#worklist-items-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap-2xl);
    padding: var(--padding-l);
}

.worklistItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: var(--root-radius-m);
    padding: var(--padding-h);
    gap: var(--gap-m);
}

.taskSerialNo {
    flex: auto !important;
    max-width: 100px !important;
}

.taskTitle {
    flex: 2.5 !important;
}

.taskActions {
    flex: 1.5 !important;
}

.taskProgress .itemInfoData {
    border: 1px solid;
    border-radius: var(--root-radius-sm);
}

.itemInfoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.itemInfoWrapper p {
    margin: 0;
    padding: 0;
    font-size: var(--text-2xl);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: var(--padding-sm);
}

.itemInfoHeading {
    text-align: center;
    color: gray !important;
    font-size: var(--text-2xl) !important;
}

.itemInfoData a {
    text-decoration: none;
    color: var(--root-primarylight-color);
}

.itemInfoData:not(.itemInfoHeading) {
    font-size: var(--text-2xl) !important;
    text-align: center;
}

.taskActions .itemInfoData {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--gap-m);
}

.taskActions svg,
.taskActions img {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

#worklist-items-wrapper .cardStatusComplete {
    color: var(--root-complete-font-color) !important;
    background: var(--root-complete-bg-color) !important;
    border-color: var(--root-complete-border-color) !important;
}

#worklist-items-wrapper .cardStatusPending {
    color: var(--root-pending-font-color) !important;
    background: var(--root-pending-bg-color) !important;
    border-color: var(--root-pending-border-color) !important;
}

#worklist-items-wrapper .cardStatusNew {
    color: var(--root-new-font-color) !important;
    background: var(--root-new-bg-color) !important;
    border-color: var(--root-new-border-color) !important;
}
