:root {

    /* --- Gaps --- */
    --filter-toolbar-gap: 50px;
    --icon-title-gap: 7px;
    --standard-section-gap: 15px;

    /* --- Borders and Border Radii --- */
    --standard-wrapper-border: 1px solid lightgrey;
    --wl-standard-wrapper-border-radius: 7px;
    --input-border-radius: 5px;
    --input-focus-shadow: 0 0 2.5px rgba(0, 102, 204, 0.7);
    --input-focus-border: .5px solid #0066cc87;

    /* --- Font Size And Color ---*/
    --filter-title-fontsize: 18px;
    --not-selected-option-font-color: #8d97a1;

    /* --- Padding --- */
    --icon-title-padding-lr: 15px;

    /* --- Widths and Heights --- */
    --searchkeyword-height: 35px;
    --searchkeyword-width: 300px;
    --sortdateicon-height-width: 30px;
    --inner-wrapper-width: 40%;
    --underline-height: 4px;
    --svg-icon-height-width: 22px;
    --task-status-option-height: 40px;
}


#WorklistContainer {
    border-radius: var(--standard-border-radius);

}

#WorklistContainer>* {
    background: white;
}


/* Wraps the filtration toolbar */
#WorklistFilterToolbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: var(--filter-toolbar-gap);
    border: var(--standard-wrapper-border);
    border-radius: var(--wl-standard-wrapper-border-radius);
}

/* The toolbar section represents the search section and the date filter section */
.toolbarSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--standard-section-gap);
    padding: 10px;
}

/* Any title in the section will have the same style */
.filterTitle {
    font-size: var(--filter-title-fontsize) !important;
}

/* Search Section Styling */
#worklistSearchKeyword {
    outline: none;
    border-radius: var(--input-border-radius);
    height: var(--searchkeyword-height);
    width: var(--searchkeyword-width);
    padding: 0 10px;
    border: var(--standard-wrapper-border);
}

#worklistSearchKeyword:focus {
    border: var(--input-focus-border);
    box-shadow: var(--input-focus-shadow);
}

/* Date Filter Section styling */
.taskDateSort {
    height: var(--sortdateicon-height-width);
    cursor: pointer;
}

/* ------------------------------- TASK STATUS OPTIONS STYLING ---------------------------- */

/* This styles the outer wrapper of the section */
#taskStatusOptionsOuterWrapper {
    position: relative;
    border: var(--standard-wrapper-border);
    border-radius: var(--wl-standard-wrapper-border-radius);
}


/* The inner wrapper groups all options as a row */
#taskStatusOptionsInnerWrapper {
    display: flex;
    flex-direction: row;
    gap: var(--standard-section-gap);
    width: var(--inner-wrapper-width);
}


/* Each individual option */
.taskStatusOption {
    display: flex;
    flex-direction: column;
    height: var(--task-status-option-height);
    justify-content: space-between;
    align-items: center;
    flex: 1;
    cursor: pointer;
}

/* The option text */
.optionTitle {
    padding: 0 !important;
    margin: 0 !important;
    text-align: center;
    font-size: 15px !important;
    color: var(--not-selected-option-font-color);
}

/* Changing colors and filling SVGs when a certain option is selected */
.selectedOption .optionTitle {
    color: var(--secondarylight-bg-color);
    font-weight: bold;
}

.selectedOption svg,
.selectedOption svg * {
    fill: var(--secondarylight-bg-color);
    stroke: var(--secondarylight-bg-color);
}

/* When clicking on an option , expand the .underline div's width to simulate a border-bottom */
.underline {
    width: 0;
    height: var(--underline-height);
    background-color: var(--secondarylight-bg-color);
    border-radius: 15px !important;
    transition: width 0.4s ease;
    align-self: baseline;
}

.taskStatusOption[data-option-task="All"]>.underline {
    width: 100%;
}

/* This wraps the option's paragraph text and corresponding svg */
.wrapIcon {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding-left: var(--icon-title-padding-lr);
    padding-right: var(--icon-title-padding-lr);
    gap: var(--icon-title-gap);
}

.wrapIcon svg {
    height: var(--svg-icon-height-width);
    width: var(--svg-icon-height-width);
}
